body {
	margin-top: 60px;
}

.navbar-app {
	background-color: #ffffff;
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

.navbar-app, 
.navbar-container-app, 
.navbar-header-app, 
.navbar-brand-app {
	height: 60px !important;
}

.navbar-app .navbar-brand-app {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: 0 auto;
	color: black;
	font-weight: bold;
}

.navbar-app .navbar-brand-app:hover {
	color: black;
}

.navbar-toggle-app {
	float: left;
}

.navbar-collapse-app, .navbar-container-app {
	background-color: #ffffff;
}

.navbar-app .navbar-collapse-app .navbar-nav li a {
	background-color: #ffffff;
	color: black;
	padding: 15px;
}

.navbar-label {
	padding: 5px 0px;
}

.navbar-label:hover {
	border-bottom: 2px solid #0066ff;
}

.banner-wrap {
	height: 660px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#home-top-banner {	
	background-image: url('/img/home_banner.jpg');
}

#about-top-banner {
	background-image: url('/img/uwi-mona-main-gate.jpg');
}

.banner-container {
	display: flex;
	height: 100%;
	align-items: center;
}

.banner-header {
 	text-align: center;
 	color: white;
 	font-size: 48px;
 	text-shadow: 2px 2px black;
 	margin: 20px auto;
 }

.block-header {
	color: black;
	font-size: 38px;
	text-align: center;
	padding: 8px;
}

.container-block h3 {
	color: #000099;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	line-height: 31.5px;
	padding: 8px;

}

.container-app {
	padding: 15px;
}

.container-app p {
	color: #888888;
	margin: 8px auto;
	display: block;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}

.about-container {
	margin: 16px auto;
}

.profile-image-crop {
	width: 280px;
	height: 280px;
	position: relative;
	overflow: hidden;
	margin: 8px auto;
}

.profile-image {
	height: 280px;
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
	margin: auto;
}

.about-container label {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: #888888;
	font-size: 16px;
	line-height: 24px;
}